@import url(/styles/header.css);
:root{
    --cor-de-fundo: #EBECEE;
    --branco:#FFFFFF;
    --roxo:#C75EED;
    --amarelo:#fece2f; 
    --preto: #000000
    --fonte-principal:"Poppins";
    --fonte-secundaria:"Josefin Sans";
}

body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
}

h1{
    background-color: white;
}